

/* header*/

div.promo {background-color: black;
         
            }
p#promo {color: rgb(255, 255, 255);
        text-align:center;
        text-transform: uppercase;
        margin-top: 0;
        font-size: 14px;
          font-weight: 400;
          height: 12px;
          line-height: 24px;
          letter-spacing: 1.1px;
         }
a#promo1{color:white;}
.logo{align-self: center;
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.navv{
    align-items: center;
    margin-top: 1%;
    display:block;
   
    
    }
.lnav{
    text-decoration: none;
    color:black;
    font-family: "Raleway-Regular";
    margin: 3%;

    
   
   
        }

.lvnav1{text-align:center;
    

    }

a.lnav:hover {
        color: #ffa726;
    }

.link_Icon{
    float:right;
    margin-left:01%;
    color:black;
    margin-right: 01%;

        }


/*fin header*/